<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Entradas</title>
  <link rel="stylesheet" href="/estilos.css" />
</head>

<body>
  <main style="padding: 2rem; max-width: 2000px; margin:auto;"></main>
  <div class="nav">
    <a href="/catalogo">Catálogo</a>
    <a href="/entradas" class="active">Entradas</a>
    <a href="/inventario">Inventario</a>
    <a href="/salidas">Salidas</a>
    <a href="/clientes">Clientes</a>
    <a href="/cotizaciones">Cotizaciones</a>


    <% if (usuario && usuario.tipo_usuario==='administrador' ) { %>
      <a href="/usuarios">Usuarios</a> <!-- Solo visible para administradores -->
      <% } %>

  </div>

  <main class="contenedor">
    <h2>Entradas de Producto</h2>
    <a href="/entradas/nueva"><button class="btn btn-exito"> Nueva Entrada</button></a>

    <table>
      <thead>
        <tr>
          <th>Fecha de entrada</th>
          <th>Proveedor</th>
          <th>Nombre del Producto</th>
          <th>Lote</th>
          <th>Caducidad</th>
          <th>Cantidad de entrada</th>
          <th>Costo Total</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% entrada.forEach(ent=> { %>
          <tr>
            <td>
              <%= new Date(ent.fechaDeEntrada).toLocaleDateString('es-MX') %>
            </td>
            <td>
              <%= ent.proveedor %>
            </td>
            <td>
              <%= ent.ProductoNombre %>
            </td>
            <td>
              <%= ent.lote %>
            </td>
            <td>
              <%= new Date(ent.caducidad).toLocaleDateString('es-MX') %>
            </td>
            <td>
              <%= ent.cantidad %>
            </td>
            <td>$<%= ent.costoTotal_entrada.toFixed(2) %>
            </td>

            
            <td><a href="/entradas/editar/<%= ent.id_entrada %>" class="btn btn-secundario">Editar</a></td>

          </tr>
          <% }) %>
      </tbody>
    </table>
  </main>
</body>
<form action="/logout" method="get">
  <a href="/logout" class="btn-logout">Cerrar sesión</a>
</form>

</html>