<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inventario</title>
  <link rel="stylesheet" href="/estilos.css" />
</head>
<body>
    <main style="padding: 2rem; max-width: 2000px; margin:auto;"></main>
  <div class="nav">
    <a href="/catalogo">Catálogo</a>
    <a href="/entradas">Entradas</a>
    <a href="/salidas">Salidas</a>
    <a href="/inventario" class="active">Inventario</a>
    <a href="/clientes">Clientes</a>
    <a href="/cotizaciones">Cotizaciones</a>
    <% if (usuario && usuario.puesto === 'administrador') { %>
    <a href="/usuarios">Usuarios</a>
  <% } %>
  </div>
  
  <main class="contenedor">

    <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;">
    <a href="/reporte" target="_blank">
    <button class="btn btn3">📄 Compartir Inventario</button>
    </a>
    </div>


    <h2>Inventario Actual</h2>
    
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Lote</th>
          <th>Stock</th>
          <th>Caducidad</th>
          <th>Días Restantes</th>
          <th>Estado</th>
        </tr>
      </thead>

      
      <tbody>
        <% inventario.forEach(i => { %>
          <tr>
            <td><%= i.ProductoNombre %></td>
            <td><%= i.Lote %></td>
            <td><%= i.Stock %></td>
            <td>
           <%= new Date(i.Caducidad).toLocaleDateString('es-MX', {
            day: '2-digit',
            month: '2-digit',
            year: 'numeric'
           }) %>
            </td>
            <td><%= i.Dias_Restantes_a_Caducar %></td>
            <td class="<%= 
            i.Estado === 'Vigente' ? 'estado-verde' : 
            i.Estado === 'Próximo a vencer' ? 'estado-amarillo' : 
            'estado-rojo' %>">
            <%= i.Estado %>
          </td>

          </tr>
        <% }) %>
      </tbody>
    </table>
  </main>
</body>
<form action="/logout" method="get">
    <a href="/logout" class="btn-logout">Cerrar sesión</a>
    </form>
</html>
