<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salidas</title>
  <link rel="stylesheet" href="/estilos.css" />
</head>
<body>
  <main style="padding: 2rem; max-width: 2000px; margin:auto;"></main>
  <div class="nav">
    <a href="/catalogo">Catálogo</a>
    <a href="/entradas">Entradas</a>
    <a href="/salidas" class="active">Salidas</a>
    <a href="/inventario">Inventario</a>
    <a href="/clientes">Clientes</a>
    <a href="/cotizaciones">Cotizaciones</a>
    <% if (usuario && usuario.puesto === 'administrador') { %>
    <a href="/usuarios">Usuarios</a>
  <% } %>
  </div>

  <main class="contenedor">
    <h2>Salidas de Producto</h2>

    <!-- Formulario de búsqueda -->
    <form action="/salidas/buscar" method="GET" style="margin-bottom: 1rem;">
    <label for="orden_buscar">Buscar por Orden de Compra:</label>
    <input type="number" name="orden_buscar" id="orden_buscar" required>
    <button type="submit" class="btn btn-secundario">Buscar</button>
    <a href="/salidas" class="btn btn-exito">Mostrar todas</a>
    </form>
    <a href="/salidas/nueva"><button class="btn btn-exito">+ Nueva Salida</button></a>  


    <table>
      <thead>
        <tr>
          <th>Orden de compra</th>
          <th>Fecha</th>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Lote</th>
          <th>Cantidad</th>
          <th>Precio Venta</th>
          <th>Total Facturado</th>
          <th>Folio de facturacion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% salidas.forEach(s => { %>
        <tr>
          <td><%= s.orden_de_compra %></td>
          <td><%= new Date(s.Fecha).toLocaleDateString('es-MX') %></td>
          <td><%= s.ClienteNombre %></td>
          <td><%= s.ProductoNombre %></td> <!-- ✅ Aquí mostramos el nombre -->
          <td><%= s.Lote %></td>
          <td><%= s.Cantidad %></td>
          <td>$<%= s.Precio_Venta.toFixed(2) %></td>
          <td>$<%= s.Total_Facturado.toFixed(2) %></td>
          <td><%= s.Folio_de_Facturacion %></td>
          <td><a href="/salidas/editar/<%= s.Id %>" class="btn btn-secundario">Editar</a></td>
        </tr>
      <% }) %>

      </tbody>
    </table>
  </main>
</body>
<form action="/logout" method="get">
    <a href="/logout" class="btn-logout">Cerrar sesión</a>
    </form>
</html>
